@import './index';
@import './unprefixed/index';

.test {
    $test-list: (uno, due, tre);
    $test-map: (color: red);
    $test-color: red;

    // Prefixed mixins
    @include dp-at-root('.test');
    @include dp-has-focus(true);
    @include dp-has-support((flexbox: true));
    @include dp-hide-text;
    @include dp-hide-visually;
    @include dp-ios-native-scrolling;
    @include dp-is-selectable(true);
    @include dp-is-visible(true, 200);
    @include dp-last-row(2);
    @include dp-overlay;
    @include dp-placeholder;
    @include dp-size(200);
    @include dp-text-ellipsis;

    // Unprefixed mixins
    @include at-root('.test');
    @include has-focus(true);
    @include has-support((flexbox: true));
    @include hide-text;
    @include hide-visually;
    @include ios-native-scrolling;
    @include is-selectable(true);
    @include is-visible(true, 200);
    @include last-row(2);
    @include overlay;
    @include placeholder;
    @include size(200);
    @include text-ellipsis;

    // Prefixed functions
    $test-prefixed: (
        't-1': dp-color-shade($test-color, 10),
        't-2': dp-color-tint($test-color, 10),
        't-3': dp-list-concat($test-list, ','),
        't-4': dp-list-contains($test-list, uno),
        't-5': dp-list-expand-directions($test-list),
        't-6': dp-list-purge($test-list),
        't-7': dp-map-assign($test-map),
        't-8': dp-map-deep-get($test-map, 'color'),
        't-9': dp-selector-get-element-name('.test'),
        't-10': dp-str-replace('test', 'st', 'oo'),
        't-11': dp-str-split('test'),
        't-12': dp-strip-unit(3),
        't-13': dp-transition-props('all 300ms linear'),
    );

    // Unprefixed functions
    $test-unprefixed: (
        't-1': color-shade($test-color, 10),
        't-2': color-tint($test-color, 10),
        't-3': list-concat($test-list, ','),
        't-4': list-contains($test-list, uno),
        't-5': list-expand-directions($test-list),
        't-6': list-purge($test-list),
        't-7': map-assign($test-map),
        't-8': map-deep-get($test-map, 'color'),
        't-9': selector-get-element-name('.test'),
        't-10': str-replace('test', 'st', 'oo'),
        't-11': str-split('test'),
        't-12': strip-unit(3),
        't-13': transition-props('all 300ms linear'),
    );

    @for $i from 1 through 14 {
        $prefixed: map-get($test-prefixed, 't-#{$i}');
        $unprefixed: map-get($test-unprefixed, 't-#{$i}');

        @if ($prefixed != $unprefixed) {
            @error 'Comparison test ##{$i} failing! - Prefixed: #{$prefixed} Unprefixed: #{$unprefixed}';
        }
    }
}
